<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses & Syllabus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='PROF_SEC/profCor.css') }}">
</head>
<body>
  <header class="navbar">
    <h1>Classes and Courses</h1>
    <a href="profDASH.html">⬅ Back to Dashboard</a>
    <!-- <div id="quote">Bridging the gap between knowledge givers and knowledge seekers.</div> -->
  </header>

  <main class="main-content">
    <p> Allotted Classes for Courses</p>

    <div class="courses-container">
      <div class="course-card">
        <h3>Classes</h3>
        <div class="classes">
           <p>Class 1</p>
        </div>
        <a href="#">Click to view Class</a>
      </div>
    </div>
  </main>
</body>
</html>
