<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Professors Portal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='PROF_SEC/profDASH.css')}}">
</head>
<header>
  <p id="headline"> Professors Portal</p>
  <div id="quote">Bridging the gap between knowledge givers and knowledge seekers.</div>
</header>
<body>

  <div class="container">
    <nav>
      <ul>
        <li> Home</li>
        <li> Profile
        </li>
        <li> Announcements
          <ul>
            <li>Announcements & Notices</li>
            <li>Upcoming Events & Deadlines</li>
          </ul>
        </li>
        <li> Courses and Classes
          <ul>
            <li>Timetable</li>
            <a href="/PROF_SEC/profCor.html"><li>Courses & Syllabus</li></a>
            <li>Classes</li>
          </ul>
        </li>
        <li> Help & Support
          <ul>
            <li>FAQs</li>
            <li>Contact Administration</li>
            <a href="{{ url_for('technical') }}"><li>Technical Support</li></a>
          </ul>
        </li>
        <a href="{{ url_for('logout') }}"><li> Logout</li></a>
      </ul>
    </nav>
      <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("nav ul li").forEach(li => {
        li.addEventListener("click", (e) => {
          if (li.querySelector("ul")) {
            li.classList.toggle("active");
            e.stopPropagation();
          }
        });
      });
    });
  </script>
    <main>
      <div class="main-content">
          <div class="welcome">
            <h1>Welcome !! {{username}}</h1>
          </div>
          <div class="announcements">
            <h3>Announcements</h3>
          </div>
          <div class="meeting">
            <h3>Meetings or Reminders</h3>
          </div>

      </div>

    </main>
  </div>
</body>

</html>