<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='STUDENT_SEC/Communicate.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
    <img id="logo" src="logo.jpg" alt="logo">
    <div id="headline">Communication</div>
    <div id="quote">Bridging the gap between knowledge givers and knowledge seekers.</div>
  </header>

  <div id="commun_bars">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>

  <div id="leftBar">
    <div id="heading1">
      <h4>Faculty/Advisors Contacts</h4>
    </div>
  </div>

  <div id="chatSection">
    <div id="heading2">
    <h4>Chat Section</h4>
    </div>
    <input type="text" id="textBar" placeholder="Ask your doubt here">
    <i class="fa-solid fa-paper-plane fa-1.5x" id="icon"></i>
  </div>

</body>
</html>