<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events & Deadlines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='STUDENT_SEC/events.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>
<header>
        <h1>Upcoming Events & Deadlines</h1>
        <div id="quote">Bridging the gap between knowledge givers and knowledge seekers.</div>
    </header>
<body>
    <main>
        <section class="event-section">
            <h2>Events</h2>
            <ul class="event-list">
                <li>
                    <h3>College Tech Fest</h3>
                    <p><i class="fa-solid fa-calendar" style="color: #4a148c;"></i> Date: 10th September 2025</p>
                    <p><i class="fa-solid fa-location-dot" style="color: orangered;"></i> Location: Main Auditorium</p>
                </li>
                <li>
                    <h3>Guest Lecture: AI & Future</h3>
                    <p><i class="fa-solid fa-calendar" style="color: #4a148c;"></i> Date: 15th September 2025</p>
                    <p><i class="fa-solid fa-location-dot" style="color: orangered;"></i> Location: Seminar Hall</p>
                </li>
            </ul>
        </section>

        <section class="deadline-section">
            <h2>Deadlines</h2>
            <ul class="deadline-list">
                <li>
                    <h3>Project Submission</h3>
                    <p><i class="fa-solid fa-calendar" style="color: #4a148c;"></i> Due: 12th September 2025</p>
                </li>
                <li>
                    <h3>Assignment 3</h3>
                    <p><i class="fa-solid fa-calendar" style="color: #4a148c;"></i> Due: 18th September 2025</p>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy 2025 Edu Portal</p>
    </footer>
</body>
</html>
